<div id="pergaminhos">					
	<h3>Pergaminhos</h3>
	


	<ul>
		<% if(ordens) {%>
			<%ordens.forEach( o => { %>
				<%
					<!-- tempo real -->
					let timeR = new Date().getTime()
					<!-- tempo final em segundos -->
					let timeFS = o.tempoFinalOrdem - timeR
					timeFS = timeFS/1000
				%>
			<li><%= o.quant_aldeoes%> aldeão(ões) <%= o.descOrdem%> - <small>restam <span class="tempo_restante">9</span> segundos - <a href="/revogar-ordem?_id=<%= o._id%>">revogar ordem</a> </small></li>
			<% }) %>
		<% } %>	
	</ul>
</div>